<ul>
  <li>
      <h2><strong>Name:</strong> <%=@contact_info[:name]%></h2>
      <p><strong>Email:</strong> <%=@contact_info[:email]%></p>
      <p><strong>Note:</strong> <%=@contact_info[:note]%></p>
  </li>
</ul>
