
    <ul>
      <li><strong>Name:</strong> <%= @contact.full_name %></li>
      <li><strong>Email:</strong> <%= @contact.email %></li>
      <li><strong>Note:</strong> <%= @contact.note %></li>
    </ul>
