<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @contact.full_name %></title>
  </head>
  <body>
    <ul>
      <li><strong>Name:</strong> <%= @contact.full_name %></li>
      <li><strong>Email:</strong> <%= @contact.email %></li>
    </ul>
  </body>
</html>
