<h1>There are <b><%= '6' %></b> contacts</h1>
<ul>
  <% Contact.all.each do |contact| %>
    <li>
      <a href= <%= '/contacts/' + contact.id.to_s %> ><%= contact.full_name %></a>
      <footer>
        <a href="#">Edit</a> | <a href="#">Delete</a>
      </footer>
    </li>
  <% end %>
</ul>
