
    <h1>Create new Contact</h1>

    <form action='/contacts' method='post'>
      <input type='text' name='first_name' placeholder="First name">
      <input type='text' name='last_name' placeholder="Last name">
      <input type='text' name='email' placeholder="Email">
      <input type='text' name='note' placeholder="Note">
      <input type='submit' value='New Contact'>
    </form>
